.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div {
    width: 730px;
    height: 520px;
    background-color: #252A30;
    color: white;
    border-radius: 5px;
    padding: 80px;
}

/*== HEADER ==*/

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header p {
    font-size: 14px;
}

/*=======*/

/*== MIDDLE ==*/
.select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.img {
    width: 26px;
}

.opt {
    display: flex;
    align-items: center;
    justify-content: c;
    gap: 15px;
    width: 250px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.opt:hover {
    background-color: #181c20;
    border: 2px solid white;
}

.opt p {
    font-weight: bold;
}

.show {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show2 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show3 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show4 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show5 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show6 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show7 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

/**/

.show8 {
    display: none;
    gap: 10px;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: 0.5;
    z-index: 9999;
}

.pshow {
    background-color: #2e66aa;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
}

.icon {
    width: 18px;
}


/*== FOOTER ==*/
.footer {
    width: 730px;
    background-color: #2f353d;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-size: 14px;
}

.next {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bold {
    color: white;
    font-weight: bold;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2e66aa;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #2e66aa;
}

.btnOff {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2a4c75;
    color: rgb(182, 182, 182);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: bold;

}

.btn2 {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2e66aa;
    color: white;
    border: none;
    border: 1px solid #2e66aa;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn2:hover {
    background-color: transparent;
    border: 1px solid gray;
}

.link {
    text-decoration: none;
}

/*== SHOW and HIDDING SHOW CLASS ==*/

.toggle {
    background-color: #181c20;
    border: none;

    .show {
        display: flex;
    }
}

.notoggle {
    background-color: transparent;
    border: none;
}

/*= Repeat Original =*/
.toggle2 {
    background-color: #181c20;
    border: none;

    .show2 {
        display: flex;
    }
}

/**/
.toggle3 {
    background-color: #181c20;
    border: none;

    .show3 {
        display: flex;
    }
}

/**/
.toggle4 {
    background-color: #181c20;
    border: none;

    .show4 {
        display: flex;
    }
}

/**/
.toggle5 {
    background-color: #181c20;
    border: none;

    .show5 {
        display: flex;
    }
}

/**/
.toggle6 {
    background-color: #181c20;
    border: none;

    .show6 {
        display: flex;
    }
}

/**/
.toggle7 {
    background-color: #181c20;
    border: none;

    .show7 {
        display: flex;
    }
}

/**/
.toggle8 {
    background-color: #181c20;
    border: none;

    .show8 {
        display: flex;
    }
}

/*= Repeat Original =*/
.toggle {
    .opt {
        border: 2px solid white;
    }
}

.toggle2 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle3 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle4 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle5 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle6 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle7 {
    .opt {
        border: 2px solid white;
    }
}

/**/
.toggle8 {
    .opt {
        border: 2px solid white;
    }
}